.figure-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    left: 50%;
}

.figure-name {
    text-align: center;
}

.info-modal-row {
    padding-left: 30px;
}

.info-modal-close-button-section {
    padding-left: 80px;
}

.info-modal-close-button {
    width: 80%;
}